@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;

    --padding-side: 2rem;
    --max-container-width: 1920px;

    /* --background: #ffffff;
    --foreground: #0a0a0a;
    --primary: #171717;
    --primary-foreground: #fafafa;
    --secondary: #f5f5f5;
    --secondary-foreground: #171717;
    --accent: #f5f5f5;
    --accent-foreground: #171717; */
  }
  .dark {
    --background: 0 0% 13%;
    --foreground: 0 0% 98%;
    /* --bc: 145 0% 81%; */
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    /* --background: #1c1c1c;
  --foreground: #fafafa;
  --primary: #fafafa;
  --primary-foreground: #171717;
  --secondary: #262626;
  --secondary-foreground: #fafafa;
  --accent: #262626;
  --accent-foreground: #fafafa; */
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-foreground;
  }

  h1 {
    @apply text-6xl font-bold mb-4;
  }
  h2 {
    @apply text-3xl font-semibold mb-4 md:mb-8;
  }
  h3 {
    @apply text-2xl font-medium mb-2;
  }
  h4 {
    @apply text-xl font-medium mb-2;
  }
  h5 {
    @apply text-lg font-medium mb-1;
  }
  h6 {
    @apply text-base font-medium  mb-1;
  }
}
